* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 65px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 250px;
}
#logo img {
    float: left;
    width: 40px;
}
#logo h2 {
    font-size: 20px;
}

#menu-img {
    width: 50px;
}