body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #d50000;
  color: #fff;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo img {
  height: 50px;
}

.buttonshd {
  display: flex;
  gap: 10px;
}
.buttonshd .btn {
  background-color: #b10000;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.buttonshd .btn:hover {
  background-color: #910000;
}

.icon {
  width: 30px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navpreta {
  background-color: #000;
  padding: 10px 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.menu li {
  margin: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu a:hover {
  color: #d50000;
}

#section1 {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.card-img:hover, #tudo-esportes img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.text-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  padding: 15px;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.3));
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.text-card h2 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text-card p {
  margin: 10px 0 0;
  font-size: 14px;
}

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.next-game {
  width: 48%;
  text-align: center;
}

.classification{
  width: 48%;
  text-align: center;
  margin-right: 300px;
}

h3 {
  font-size: 18px;
  color: #ff0000;
  margin: 0;
}

.subtitle {
  display: block;
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.logo {
  width: 80px;
  height: auto;
  margin: 0 10px;
}

p {
  font-size: 14px;
  color: #666;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

table th,
table td {
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-completa {
  display: inline-block;
  margin-top: 10px;
  color: #ff0000;
  text-decoration: none;
  font-size: 12px;
}

.escudo-tabela {
  width: 30px;
  height: auto;
}

.card-esportes {
  position: relative;
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.card-esportes img {
  width: 100%;
}
.text-esportes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6); 
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}
.text-esportes h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.text-esportes p {
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
  color: white;
}

#org-esportes {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#tudo-esportes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.esportes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.esportes-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}

.esportes-link {
  font-size: 14px;
  color: #d01919;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.esportes-link:hover {
  color: #aa0000;
}

#section4 {
  max-width: 65%;
  margin: 0 auto;
}